# Include the license file
include LICENSE
include README.rst

# Include the data files
recursive-include data *

recursive-include tests *
recursive-include * __pycache__
recursive-include * *.py[co]

# added by check_manifest.py
include *.in
include tox.ini

# added by check_manifest.py
include *.in
include *.rst
include *.txt